.thick {
	font-weight: bold;
}


.text-melon-50{
	color:rgba(247,152,98,.5)!important
}

.text-melon-50{
	color:rgba(255,182,18,.5)!important
}

.text-melon-50{
	color:rgba(115,220,105,.5)!important
}

.text-melon-50{
	color:rgba(245,220,40,.5)!important
}

.text-melon-50{
	color:rgba(255,255,0,.5)!important
}

